



.navbar{
 width: 100%;
 height: 75px;
 display: flex;
 background: #FFFFFF;
 box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
 justify-content: space-around;
}


.authButtons{
    margin-left: 50%;
    width: 350px;
    /* border: 1px solid black; */
    
}

.contact,.login,.register{
    margin-left: 15px;
    margin-top: 25px;
}
.logo{
    margin-top: 15px;
    margin-left: 15px;
}

.contact{
    border: none;
    background: none;
}


.login{

    background: #FFFFFF;
border: 1.5px solid #5746EC;
border-radius: 7px;
width: 27%;
padding: 5px;

font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 21px;

color: #5746EC;
}



.register{
    background: #FFFFFF;
border: 1.5px solid #5746EC;
border-radius: 7px;
width: 27%;
padding: 5px;

background: #5746EC;
box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
border-radius: 8px;
/* font-family: 'Work Sans';
font-family: 'Anton', sans-serif; */
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 21px;

color: #FFFFFF;

}

.contact{
    /* font-family: 'DM Sans'; */
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 23px;

color: #727479;

}


.mainTheme{
    height: 550px;
background: #F8F8F8;
display: flex;
}


.details{

    /* border: 1px solid black; */
    margin-top: 100px;

}
.trialVersion{
    /* border: 1px solid black; */
    width: 50%;
    /* height: 500px; */
}


.purple{
    color: white;
    /* font-family: 'Work Sans';
    font-family: 'Anton', sans-serif; */




    /* font-family: 'Josefin Sans', sans-serif; */
/* font-family: 'Kanit', sans-serif;
font-family: 'Lobster', cursive;
font-family: 'Nunito Sans', sans-serif;
font-family: 'PT Sans Narrow', sans-serif; */




font-style: normal;
font-weight: 600;
font-size: 50px;
line-height: 80px;


background: linear-gradient(92.84deg, #5746EC -34.59%, #F55656 93.19%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
/* font-family: 'Nunito Sans', sans-serif; */
/* font-family: 'Josefin Sans', sans-serif; */
/* font-family: 'Anton', sans-serif;  */
/* font-family: 'Kanit', sans-serif; */

}

body{
    font-family: 'Kanit', sans-serif;
    /* font-family: 'Lobster', cursive; */
    /* font-family: 'Nunito Sans', sans-serif; */
/* font-family: 'PT Sans Narrow', sans-serif; */
}

.way{

    font-style: normal;
    font-weight: 600;
    /* font-size: 55px; */
    padding-left: 12%;

}

.first{
    width: 50%;
}


.lorem{

  border: 1px solid black;
  width: 70%;
  color: #5C5F62;
}
.loremforacco{
    color: #5C5F62;
}
.loremtext{

font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 30px;
color: #5C5F62;

letter-spacing: -0.02em;
padding-left: 12%;
color: #202020;
width: 70%;


}
.acco{
    font-weight: 600;
}

.trialDiv{
    background: #FFFFFF;
border: 1px solid rgba(0, 0, 0, 0.2);
/* 3 */

box-shadow: 0px 10px 6px rgba(180, 212, 221, 0.2);
border-radius: 18px;
width: 70%;
margin: auto;
margin-top: 100px;
}

.heading{
    text-align: center;
    margin-top: 20px;
}

.title{

font-style: normal;
font-weight: 500;
font-size: 35px;
line-height: 45px;
}




input{
    width: 80%;
    margin: auto;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    height: 35px;
    margin-top: 7px;

}

.form{
    text-align: center;
    
}
label{

font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 21px;


color: #666666;
padding-left: 9%;

}

.submitbtn{
    background: #5746EC;
box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
border-radius: 8px;
font-weight: 600;
font-size: 15px;
line-height: 21px;

color: #FFFFFF;
margin-bottom: 20px;
margin-top: 20px;
}

.heading2{
    text-align: center;
}

.detail{
    width: 55%;

    margin-top: 16px;
}

.consultdetail{
    width: 55%;

    margin-top: 16px;
}


.lorem2text{

font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 30px;
/* or 136% */

letter-spacing: -0.02em;
padding-left: 12%;
color: #202020;
width: 60%;
color: #5C5F62;

}

.search, .consult, .colla{
    width: 80%;
    background: #FFFFFF;
border: 1px solid rgba(0, 0, 0, 0.1);
box-shadow: 0px 5px 100px rgba(0, 0, 0, 0.1);
border-radius: 12px;
margin: auto;
margin-top: 60px;
display: flex;

}

.accordianDiv{
    width: 80%;
    border: 1px solid rgba(0, 0, 0, 0.1);
box-shadow: 0px 5px 100px rgba(0, 0, 0, 0.1);
border-radius: 12px;
margin: auto;
}
.contactus{
    width: 80%;
    margin: auto;
}


.color, .consultimg, .collaimg{
   
opacity: 0.6;
box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.06);
border-radius: 0px 12px 12px 0px;
border: 1px solid black;
width: 45%;
display: flex;
justify-content: center;
align-items: center;

background-color:  rgb(28, 6, 221);

}

.consultimg{
    border-radius: 12px 0px 0px 12px ;
    background: 1px solid #5746EC;
}


.collaimg1{
    border-radius: 5px;
z-index: 1;


}

.search1,.collaimg1{
    width: 90%;
    height: 80%;

}

.consultdetail{
    /* margin-top: 60px; */
    padding-top: 40px;
}


.contactus{

    background: #5746EC;
border-radius: 15px;
text-align: center;
color: #FFFFFF;
margin-top: 30px;
}
.con{
    width: 60%;
    text-align: center;
    margin: auto;

}

.con>h1{
    padding-top: 30px;
}
/* body{

} */


.conbtn{
    color: #5746EC;
    background: #FFFFFF;

border-radius: 8px;
width: 50%;
height: 30px;
/* font-family: 'Work Sans';
font-family: 'Anton', sans-serif; */




/* font-family: 'Josefin Sans', sans-serif; */
/* font-family: 'Kanit', sans-serif;
font-family: 'Lobster', cursive;
font-family: 'Nunito Sans', sans-serif;
font-family: 'PT Sans Narrow', sans-serif; */



font-style: normal;
font-weight: 600;
font-size: 15px;
line-height: 21px;
text-align: center;
border: none;
margin-top: 10px;
margin-bottom: 30px;

}



.footbtn{
    border: none;
    background: none;
    padding: 5px;
}
.footer{
    width: 80%;
    display: flex;
    margin: auto;
    margin-top: 30px;
}

.tabsfoot{
    display: flex;
    width: 70%;
    justify-content: end;
    /* border: 1px solid black; */
    text-align: center;
}
.row2, .row3{
    margin-left: 100px;
}
.hr{
    margin-top: 30px;
    width: 80%;
}

.coppyright{
    text-align: center;
}
.headcon{
    padding-top: 30px;
}

.conbtn{
    margin-top: 30px;
}


@media  screen and (min-width:376px) and (max-width:766px) {
  
.navbar{
    display: block;
    /* border: 1px solid black; */
}
.authButtons{
    margin-right: 200%;
    /* border: 1px solid black; */
    width: 50%;
   position: relative;
   right: 47%;
}
.authButtons>button{
    /* border: 1px solid black; */
    width: 25%;
    font-size: 65%;
}

.mainTheme{
    display: block;
    margin: auto;
}

.expertcloud{
    margin-top: 470px;
}

.trialVersion{
    margin: auto;
}


.purple{
 
    font-size: 30px;
    
}


 .footer{
  /* border: 1px solid black; */
  display: block;
 }

 .row1,.row2,.row3{
     margin-left: 5px;
 }


 .footbtn{
     margin: auto;
 }

 .tabsfoot{
    /* border: 1px solid rgb(184, 56, 56); */
    margin: auto;
 }
}




@media  screen and (min-width:150px) and (max-width:375px) {
  
    .navbar{
        display: block;
        /* border: 1px solid black; */
    }
    .authButtons{
        margin-right: 200%;
        /* border: 1px solid black; */
        width: 100%;
       position: relative;
       right: 47%;
       
    }
    .authButtons>button{
        /* border: 1px solid black; */
        width: 25%;
        font-size: 65%;
    }
    
    .mainTheme{
        display: block;
        margin: auto;
    }
    
    .expertcloud{
        margin-top: 700px;
    }
    
    .trialVersion{
        margin: auto;
        width: 220px;
    }
    
    
    .purple{
     
        font-size: 35px;
        
    }
    .color{
        display: none;
    }
    
    .consultimg,.collaimg{
        display: none;
    }

    .consultdetail,.detail{
        padding-top: 0px;
        width: 100%;
        /* border: 1px solid black; */
    }
    .row1,.row2, .row3{
        margin: auto;
        margin-top: 90px;
        margin-left: 40px;

    }
.lorem2{
    /* width: 200%; */
    /* border: 1px solid black; */
    display: none;

}
.logo{
    display: none;
}

.tabsfoot{

    width: 100%;

}
    }
    
    




